.top_bar {
    background-color: #fff;
    display: flex;
    align-items: middle;
    justify-content: space-between;
    width: 100%;
}

.top_bar .navcontainer {
    width: 100%;
    border-bottom: 1px solid #F1F3F4;
    overflow: hidden;
    margin-left: 16px;
    margin-right: 16px; 
    padding-top: 24px;
    padding-bottom: 24px;
}

.top_bar a {
    padding-right: 24px;
    font-size: 18px;
    position: relative;
    width: calc(100vw - 80px);
    text-align: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

.top_bar .navcontainer .selected_nav {
    color: #181818;
    text-decoration: underline;    
}
.top_bar .navcontainer .unselected_nav {
    color: #696969;
    text-decoration: none;
}


.inputgroup {
    display: block;
    margin-top: 16px;
}
.inputlabel {
    color: #484848;
    margin-left: 16px;
    margin-right: 16px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 4px;
}
.inputgroup input {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
    display: block;
    border: 1px solid #DFE1E5;
    padding: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #181818;
}

.title {
    font-size: 35px;
    font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.loginbutton {
	background-color: #2874E8;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
    outline: none;
    border:none;
    margin-top: 24px;
    margin-bottom: 32px
}

.upload_container {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    height: 28vw;
    width: 28vw;
    background-color: #DFE1E5;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    overflow: hidden;
}


.upload_container .upload_button {
    position: absolute;
    overflow: hidden;
}

.profile_preview {
    display: inline;
    height: 28vw;
    width: 28vw;
    z-index: 2;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.upload_image {
    display: none;
    overflow: hidden;
}



.nameInput[contentEditable] {
    display: inline;
    width: calc(72vw - 32px);
    padding: 0 16px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 4px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
}
.nameInput[contentEditable]:empty::before {
    width: calc(72vw - 32px);
    padding: 0 0px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 8px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    content: 'First and last name';
    color: #707070;
}

.phoneInput[contentEditable] {
    width: calc(72vw - 32px);
    display: inline;
    padding: 0 16px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 24px;
    margin-bottom: 8px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    color: #2874E8;
    margin: 0px;
}
.phoneInput[contentEditable]:empty::before {
    width: calc(72vw - 48px);
    padding: 0 0px;
    height: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 24px;
    margin-bottom: 8px;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
    content: 'Phone Number';
    color: #707070;
    margin: 0px;
}
.stack {
    margin: 0px;
    width: calc(72vw - 48px);
    display: inline-flex;
    flex-direction: column;
}

.profile {
    display: flex;
    align-items: center;
}