.author img {
    width: 24px;
    height: 24px;
    display: inline;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 0px;
    background-color: #e0e0e0;
}

.author p {
    font-size: 18px;
    display: inline;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

}


.miniauthor p {
    font-size: 12px;
    display: inline;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.miniauthor img {
    width: 16px;
    height: 16px;
    display: inline;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 0px;
    background-color: #e0e0e0;
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
    color: #484848;
    margin-bottom: 0px;
}

.miniauthor {
    display: flex;
    align-items: center;
    width: 100%;
    color: #484848;
    margin-bottom: 0px;
}

.title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 100%;
    color: #181818;
}

.minititle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 4px;
    margin-top: 2px;
    width: 100%;
    color: #181818;
}

.right {
    display: flexbox;
    height: 112px;
    width: 83px;
    margin-right: 16px;
    float: right;
    align-self: center;
    justify-self: center;
}
.miniright {
    display: flex;
    width: 60px;
    height: 80px;
    margin-right: 4px;
    float: right;
    align-self: center;
    justify-self: center;
}

.thumbnail {
    width: 83px;
    height: 112px;
    overflow: hidden;
    background-color: #e0e0e0;
}
.minithumbnail {
    width: 60px;
    height: 80px;
    overflow: hidden;
    object-fit: cover;
    background-color: #e0e0e0;    
}

.thumbnailcontent {
    object-fit: cover;
    object-position: center center;
    width: 112px;
    height: 100%;
}

.minithumbnailcontent {
    object-fit: cover;
    object-position: center center;
    width: 60px;
    height: 80px;
}
.left {
    display: inline-block;
    height: 112px;
    width: calc(100vw - 131px);
    padding-left: 16px;
    vertical-align: middle;
}

.minileft {
    height: 78px;
    display: inline-block;
    vertical-align: middle;
}

.recipepreview {
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    margin-left: 0px;
    margin-bottom: 24px;
    margin-top: 24px;
    justify-content: space-between;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.minirecipepreview {
    display: block;
    width: 100%;
    margin-left: 0px;
    -webkit-tap-highlight-color: transparent;
}

.divider {
    height: 2px;
    width: calc(100% - 32px);
    margin-left: 16px;
    background-color: #F1F3F4;
    display: flexbox;
    margin-top: 12px;
    margin-bottom: 12px;
    justify-content: center;
}

.minidivider {
    height: 1px;
    width: calc(100%);
    background-color: #F1F3F4;
    display: flexbox;
    margin-top: 8px;
    margin-bottom: 8px;
    justify-content: center;
}

.link {
    width: 100%;
    height: 100;
    -webkit-tap-highlight-color: transparent;
}

.mini_author_profile {
    height: 16px;
    width: 16px;
    border-radius: 100%;
    display: inline;
    object-fit: cover;
    background-color: #e0e0e0;
}

.small_suggestion_name {
    font-size: 12px;
    display: inline;
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 0px;
    align-items: center;
}