.authorimg {

    margin-left: 16px;
    width: 32px;
    height: 32px;
    display: inline;
    border-radius: 100%;
    object-fit: cover;
    background-color: #e0e0e0;
}

.author Image {

    margin-left: 16px;
    width: 32px;
    height: 32px;
    display: inline;
    border-radius: 100%;
    object-fit: cover;
}

.author p {
    font-size: 18px;
    display: inline;
    margin-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.backbutton {
    padding: 1rem;
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
    color: #484848;
    margin-top: 8;
}

.top_bar {
    margin-top: -69.5px;
    z-index: 9;
    background-color: #F1F3F4;
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
}

.top_bar p {
    font-size: 18px;
    position: relative;
    width: calc(100vw - 80px);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.top_bar a {
    align-self: middle;
    justify-self: center;
    position: relative;
    display: flexbox;
    
}

.thumbnail {
    display: block;
    z-index: 0;
    margin-top: 69.5px;
    width: 100vw;
    height: 133.33vw;
    overflow: hidden;
    display: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.thumbnailcontent {
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 100vw;
    height: 133.33vw;
    object-fit: cover;
    background-color: #e0e0e0;
}

.title {
    font-size: 35px;
    font-weight: 500;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 8px;
}

.description {
    font-size: 18px;
    color: #484848;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
}

.section_title {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 25px;
    font-weight: 400;
    color: #181818;
    margin-left: 16px;
    margin-right: 16px;
}

.recipe_ingredients {
    font-size: 18px;
    color: #484848;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 28px;
}

.recipe_directions {
    font-size: 18px;
    color: #484848;
    text-align: left;

    margin-right: 16px;
    line-height: 28px;
}

.giftIcon {
    
    background-color: transparent;;
    height: 24px;
    width: 24px;
    padding: none;
}

.giftIconButton {
    
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 16px;
    border: 0px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modalTopText {
    z-index: 10;
    font-size: 18px;
    height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
}

.modalTop {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.modalTopButton {
    z-index: 10;
    display: inline-flex;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;  
}

.inputgroup input {
    margin-top: 4px;
    height: 45px;

    width: calc(100%);
    display: block;
    border: 1px solid #DFE1E5;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border-radius: 12px;
    color: #181818;
}

.Default {
	background-color: #2874E8;
    height: 45px;
    margin-top: 16px;
    font-weight: normal;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    width: 100%;
    outline: none;
    border:none;

}
.Gifting {
	background-color: #EBF3FF;
    height: 45px;
    margin-top: 16px;
    font-weight: normal;
    border-radius: 8px;
    font-size: 18px;
    color: #277DA1;
    width: 100%;
    outline: none;
    border:none;

}
.Gifted {
	background-color: #00AE11;
    height: 45px;
    margin-top: 16px;
    font-weight: normal;
    border-radius: 8px;
    font-size: 18px;
    color: #fff;
    width: 100%;
    outline: none;
    border:none;

}

.Failed {
	background-color: #FFE8E9;
    height: 45px;
    margin-top: 16px;
    font-weight: normal;
    border-radius: 8px;
    font-size: 18px;
    color: #FF1826; 
    width: 100%;
    outline: none;
    border:none;

}

.inputlabel {
    color: #484848;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.title[contentEditable], .description[contentEditable], .recipe_ingredient[contentEditable], .recipe_direction {
    border: none;
    -webkit-appearance: none;
    appearance: none;
    resize: none;
    outline: none;
}
